[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
	branch = main
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "src/crossing"]
	path = third_party/crossing
	url = https://github.com/n6k-io/duckdb-crossing.git
